.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px; /* Adjust height as necessary */
  background-color:rgb(44, 102, 147); /* Header background color */
  z-index: 1000; /* Ensure it's above other elements */
  color: white; /* Text color */
  padding: 10px; /* Padding */
  padding-bottom: 20px;
}
  
  .header-content {
    display: flex;
    justify-content: space-between;
    align-items: right;
    width: 100%;
  }
  
  .header-content h1 {
    margin: 0;
  }
  
  .header-content nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .header-content nav ul li {
    margin: 0 10px;
  }
  
  .header-content nav ul li a {
    color: white;
    text-decoration: none;
  }
  .logo-container {
    display: flex;
    align-items: center; /* Ensure both the logo and text are centered */
    margin-right: 10px /* Space between logo and title */
  }
  
  .logo {
    height: 40px; /* Adjust the height as needed */
    margin-right: 10px;
  }
  .header-title {
    font-size: 1.5rem; /* Adjust text size */
    margin: 0;
  }
  .header-icons {
    display: flex;
    align-items: center;
  }
  
  .online-status {
    display: flex;
    align-items: center;
    color: #34D399; /* Green color for online status */
    margin-right: 15px; /* Space between online indicator and icons */
  }
  
  .status-indicator {
    margin-right: 5px; /* Space between the dot and the text */
  }
  
  .header-icon {
    color: #ffffff; /* Icon color */
    font-size: 20px; /* Icon size */
    margin-left: 15px; /* Space between icons */
    cursor: pointer; /* Change cursor to pointer on hover */
  }
  